<!DOCTYPE html>
<html>

<head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/vieOne.css">

</head>

<body>
    <div class="mdescrip">
        <h1><%= movie.name%></h1>
        <h5>Cast :<%= movie.cast%><br>Genre : <%= movie.genre%></h5>
        <p><%= movie.description%></p>

        <div>
            <button class="button"><a href="/edit/<%= movie._id%>">Edit</a> </button>
            <button class=" button"><a href="/delete/<%= movie._id%>">Delete</a></button>
            <button class="button">Go Back </button>


        </div>
    </div>



</body>

</html>